.menu-item p {
  margin-right: 10px;
  flex: 1;
}

.menu-item button {
  background-color: #ff6f61;
  color: #fff;
  padding: 8px;
  cursor: pointer;
  flex: 0 0 auto; 
border-radius: 7px;
}

.menu-item button:hover {
  background-color: #151515;
}

.completed-task {
  text-decoration: line-through;
}